* {
    border: 2px solid red;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; /* Учет padding и border в расчетах ширины */
}

header{
    height: 1080px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-width: 100%;
    background-color: #141024;
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-rows: minmax(100px,auto) 1fr;
}
.header-up{
    display: grid;
    grid-template-columns: minmax(auto,400px) 1fr minmax(auto,400px);
    padding-top: 40px;
}
nav{
    display:flex;
    justify-content: center;
    gap:40px;
}
.nav-item{
    font-family: Jost;
font-size: 20px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
color:#fff;
    text-decoration: none;
}
.header-logo,
.header-number{
    margin: 0 px;
    font-family: Jost;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align:center;
    color:#fff;
}
.header-down{
    /* margin-top: 50px; */
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:250px;
    align-self: end;
}
.header-title{
    font-family: Jost;
    font-size: 70px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    margin-bottom: 20px;
    margin-top: 250px;
}
.header-desc{
    font-family: Jost;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    margin-bottom:50px;
}
.left-side{
    align-self: start;
    justify-self: right;
    position: relative;
}
.right-side{
    align-self: end;
    margin: 0px;
    justify-self: left;
    position: relative;
}
.circle{
    position:absolute;
    top:100px;
    left:-140px;
    width:650px;
    height: 650px;
    border:70px solid #fff;
    border-radius: 50%;;
    z-index: 0;
}
.image{
    position: relative;
    z-index: 999;
}
.btn {
    background-color: rgba(213, 32, 39, 1);
    padding: 25px 50px;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px #000;
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    transition: all 0.3s ease-in;
}
.btn:hover {
    background-color: rgba(213, 32, 39, 0.7);
    transform: scale(0.6);
}
.button{
    transition: all 0.3s ease-in;
}
.button:active{
    transform-origin: left left;
    transform: scale(0.98);
}
.info-title{
    margin-top:120px;
    text-align: left;
    font-family: Jost;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    color: #000;
    margin-bottom:60px;

}
.info-title span{
    font-weight: 600;
}
.achievements-holder{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:40px;
}